body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  canvas{
    position:absolute;
    width: 100vw;
    left:0;
    top:0;
    z-index:-1;
  }

  nav {
    display:block;
    width: 100%;
    align-items: end;
    position: sticky;
    left:0;
    top:0;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  nav ul li {
    padding: 5px 10px;
  }

  nav ul li a {
    font-family: "Source Code Pro", monospace;
    color: white;
    text-decoration: none;
    font-size: 22px;
  }
  
 .underline:hover {
    text-decoration: underline;
    transition: 100ms ease-in-out;
  }

#selected{
  text-decoration: underline;
}

  nav ul li input {
    width: 300px;
    background-color: #222222;
    color: white;
    font-size: 22px;
    font-family: "Source Code Pro", monospace;
  }
  
  p {
    color: white;
    font-family: "Source Code Pro", monospace;
    font-size: 22px;
  }
  
  button {
    font-family: "Source Code Pro", monospace;
    font-size: 22px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px 16px;
  }

  button:hover{
    background-color: rgb(38, 38, 38);
    transition: 100ms ease-in-out;
  }

  div.buttons {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0px;
  }

  
  div.welcome {
    padding: 300px 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  div#content{
    position: relative;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  
  div.frame{
    width: 800px;
    height: 90vh;
    position: sticky;
    overflow: scroll;
  }
  div.content{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 200px;
    padding: 100px 0px;
    align-items: center;
  }

  div.secret-template {
    width: 100%;
    position: relative;
    overflow:auto;
  }
  
  #secret-image {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
  }

  #secret-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0%;
    background:rgba(0, 0, 0, 0.4);
    transition: 200ms ease-in-out;
  }
  
  #secret-text:hover {
    width: 100%;
    opacity: 100%;
    transition: 200ms ease-in-out;
  }

  img.dots{
    width: 50px;
  }

  img.dots:hover {
    opacity: 50%;
  }

  /* img#1-dot{

  } */
  img#1-dot:hover:after {
    content: url(img/secrets/2-image.png); /* no need for qoutes */
    display: block;
    position: absolute;
    left: 123px; /* change this value to one that suits you */
    top: 56px; /* change this value to one that suits you */
}

  div#note-editor {
    display: flex;
    width: 80vw;
    flex-direction: column;
    align-items: center;
  }
  
  div#confirmation{
    display: flex;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  #note-editor-title,
  #note-editor-body,
  ul li input {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 4px;
  }
  
  div.note-editor-img {
    width: 15vw;
    padding: 20px;
  }
  
  #note-editor-title {
    background-color: #222222;
    width: 40vw;
    margin: 10px 0px;
    color: white;
    font-size: 32px;
    font-family: "Source Code Pro", monospace;
  }
  
  #note-editor-body {
    background-color: #222222;
    color: white;
    font-size: 22px;
    font-family: "Source Code Pro", monospace;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
  }
  
  footer p {
    font-size: 12px;
  }

  .circle { 
    border-radius:50%;
    position:absolute;
}
  #container {
    width:500px;
    height:200px;
    position:relative;
}

/* 
- make all secrets hover states 
- adjust gif in background
- align all images and text
*/